# ESP-IDF Build & Binaries
build/
sdkconfig
sdkconfig.old
dependencies.lock

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE configuration
.vscode/
.clangd/
.idea/

# System & OS
.DS_Store
Thumbs.db

# Output artifacts
*.png
*.gif
*.csv